node_modules/
**/node_modules/
.next/
**/.next/
**/__pycache__/
*.pyc
out/
**/out/
.env
.env.*
!.env.example
.license_signing_private.pem
.vercel/
ninjatrader/Glitch/Strategies/
ninjatrader/Glitch/Glitch.zip
ninjatrader/Glitch/Glitch Screens *
