NEXT_PUBLIC_WHOP_FREE_ACCESS_URL=https://whop.com/checkout/plan_IROhfJAbF79K6
NEXT_PUBLIC_WHOP_GO_PRO_CHECKOUT_URL=https://whop.com/checkout/plan_G81vTccV19dNA
NEXT_PUBLIC_WHOP_CHECKOUT_MONTHLY_URL=https://whop.com/checkout/plan_G81vTccV19dNA
NEXT_PUBLIC_WHOP_CHECKOUT_ANNUAL_URL=https://whop.com/checkout/plan_G81vTccV19dNA
NEXT_PUBLIC_WHOP_CHECKOUT_LIFETIME_URL=https://whop.com/checkout/plan_G81vTccV19dNA
NEXT_PUBLIC_WHOP_AFFILIATE_URL=https://whop.com/glitchtrader/affiliates/?affiliate_links:page=0&company_id=biz_In1cZIkY3QNdd9
NEXT_PUBLIC_WHOP_MEMBER_HUB_URL=https://whop.com/joined/glitchtrader/
